################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Point.Of.Sale/bin/Debug/net7.0
/Point.Of.Sale/obj/Debug/net7.0
/Point.Of.Sale.Abstraction/bin/Debug/net7.0
/Point.Of.Sale.Abstraction/obj
/Point.Of.Sale.Category/bin/Debug/net7.0
/Point.Of.Sale.Category/obj
/Point.Of.Sale.Customer/bin/Debug/net7.0
/Point.Of.Sale.Customer/obj
/Point.Of.Sale.Db.Views/bin/Debug/net7.0
/Point.Of.Sale.Db.Views/obj
/Point.Of.Sale.Inventory/bin/Debug/net7.0
/Point.Of.Sale.Inventory/obj
/Point.Of.Sale.Persistence/bin/Debug/net7.0
/Point.Of.Sale.Persistence/obj
/Point.Of.Sale.Person/bin/Debug/net7.0
/Point.Of.Sale.Person/obj
/Point.Of.Sale.Product/bin/Debug/net7.0
/Point.Of.Sale.Product/obj/Debug/net7.0
/Point.Of.Sale.Product/obj
/Point.Of.Sale.Sales/bin/Debug/net7.0
/Point.Of.Sale.Sales/obj
/Point.Of.Sale.Shared/bin/Debug/net7.0
/Point.Of.Sale.Shared/obj
/Point.Of.Sale.Shopping.Cart/bin/Debug/net7.0
/Point.Of.Sale.Shopping.Cart/obj
/Point.Of.Sale.Supplier/bin/Debug/net7.0
/Point.Of.Sale.Supplier/obj
/Point.Of.Sale.Tenant/bin/Debug/net7.0
/Point.Of.Sale.Tenant/obj
/Point.Of.Sale/obj
