################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.idea/*

/Service.Point.Of.Sale/bin/*
/Service.Point.Of.Sale/obj/*
/Service.Point.Of.Sale.Abstraction/bin/*
/Service.Point.Of.Sale.Abstraction/obj/*
/Service.Point.Of.Sale.Auth/bin/*
/Service.Point.Of.Sale.Auth/obj/*
/Service.Point.Of.Sale.Category/bin/*
/Service.Point.Of.Sale.Category/obj/*
/Service.Point.Of.Sale.Customer/bin/*
/Service.Point.Of.Sale.Customer/obj/*
/Service.Point.Of.Sale.Db.Views/bin/*
/Service.Point.Of.Sale.Db.Views/obj/*
/Service.Point.Of.Sale.Events/bin/*
/Service.Point.Of.Sale.Events/obj/*
/Service.Point.Of.Sale.Inventory/bin/*
/Service.Point.Of.Sale.Inventory/obj/*
/Service.Point.Of.Sale.Persistence/bin/*
/Service.Point.Of.Sale.Persistence/obj/*
/Service.Point.Of.Sale.Person/bin/*
/Service.Point.Of.Sale.Person/obj/*
/Service.Point.Of.Sale.Product/bin/*
/Service.Point.Of.Sale.Product/obj/*
/Service.Point.Of.Sale.Sales/bin/*
/Service.Point.Of.Sale.Sales/obj/*
/Service.Point.Of.Sale.Shared/bin/*
/Service.Point.Of.Sale.Shared/obj/*
/Service.Point.Of.Sale.Shopping.Cart/bin/*
/Service.Point.Of.Sale.Shopping.Cart/obj/*
/Service.Point.Of.Sale.Supplier/bin/*
/Service.Point.Of.Sale.Supplier/obj/*
/Service.Point.Of.Sale.Tenant/bin/*
/Service.Point.Of.Sale.Tenant/obj/*
/Service.Point.Of.Sale.Tenant.Test/bin/*
/Service.Point.Of.Sale.Tenant.Test/obj/*

Service.Point.Of.Sale/bin/*
Service.Point.Of.Sale/obj/*
Point.Of.Sale.Abstraction/bin/*
Point.Of.Sale.Abstraction/obj/*
Point.Of.Sale.Auth/bin/*
Point.Of.Sale.Auth/obj/*
Point.Of.Sale.Category/bin/*
Point.Of.Sale.Category/obj/*
Point.Of.Sale.Customer/bin/*
Point.Of.Sale.Customer/obj/*
Point.Of.Sale.Db.Views/bin/*
Point.Of.Sale.Db.Views/obj/*
/Point.Of.Sale.Email/bin/*
/Point.Of.Sale.Email/obj/*
Point.Of.Sale.Events/bin/*
Point.Of.Sale.Events/obj/*
Point.Of.Sale.Inventory/bin/*
Point.Of.Sale.Inventory/obj/*
Point.Of.Sale.Persistence/bin/*
Point.Of.Sale.Persistence/obj/*
Point.Of.Sale.Person/bin/*
Point.Of.Sale.Person/obj/*
Point.Of.Sale.Product/bin/*
Point.Of.Sale.Product/obj/*
Point.Of.Sale.Retries/bin/*
Point.Of.Sale.Retries/obj/*
Point.Of.Sale.Sales/bin/*
Point.Of.Sale.Sales/obj/*
Point.Of.Sale.Shared/bin/*
Point.Of.Sale.Shared/obj/*
Point.Of.Sale.Shopping.Cart/bin/*
Point.Of.Sale.Shopping.Cart/obj/*
Point.Of.Sale.Supplier/bin/*
Point.Of.Sale.Supplier/obj/*
Point.Of.Sale.Tenant/bin/*
Point.Of.Sale.Tenant/obj/*
Point.Of.Sale.Tenant.Test/bin/*
Point.Of.Sale.Tenant.Test/obj/*

/Web.Point.Of.Sale/bin/*
/Web.Point.Of.Sale/bin/Debug/*
/Web.Point.Of.Sale/obj/*
/Web.Point.Of.Sale/obj/Debug/net8.0/*



/.githvs/slnx.sqlite
/.vs/Kodelev8.Point.Of.Sale/v17/.suo
/.vs/Kodelev8.Point.Of.Sale/FileContentIndex
/.vs/Kodelev8.Point.Of.Sale/DesignTimeBuild/.dtbcache.v2
/Point.Of.Sale.Product/bin-windows
/Point.Of.Sale.Email/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.AssemblyInfo.cs
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.AssemblyInfoInputs.cache
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.assets.cache
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.csproj.AssemblyReference.cache
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.csproj.BuildWithSkipAnalyzers
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.csproj.CoreCompileInputs.cache
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.csproj.FileListAbsolute.txt
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.dll
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.GeneratedMSBuildEditorConfig.editorconfig
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.GlobalUsings.g.cs
/Point.Of.Sale.Email/obj/Debug/net7.0/Point.Of.Sale.Email.pdb
/Point.Of.Sale.Email/obj/Debug/net7.0/refint/Point.Of.Sale.Email.dll
/Point.Of.Sale.Email/obj/Point.Of.Sale.Email.csproj.nuget.dgspec.json
/Point.Of.Sale.Email/obj/Point.Of.Sale.Email.csproj.nuget.g.props
/Point.Of.Sale.Email/obj/Point.Of.Sale.Email.csproj.nuget.g.targets
/Point.Of.Sale.Email/obj/project.assets.json
/Point.Of.Sale.Email/obj/project.nuget.cache
/Point.Of.Sale.Email/obj/project.packagespec.json
/Point.Of.Sale.Email/obj/rider.project.restore.info

/Point.Of.Sale.Email/bin/Debug/net7.0/Point.Of.Sale.Email.dll
/Point.Of.Sale.Email/bin/Debug/net7.0/Point.Of.Sale.Email.pdb
/Point.Of.Sale.Retries/bin/Debug/net7.0/Point.Of.Sale.Retries.deps.json
/Point.Of.Sale.Retries/bin/Debug/net7.0/Point.Of.Sale.Retries.dll
/Point.Of.Sale.Retries/bin/Debug/net7.0/Point.Of.Sale.Retries.pdb
/Point.Of.Sale.Retries/bin/Debug/net7.0/Point.Of.Sale.Shared.dll
/Point.Of.Sale.Retries/bin/Debug/net7.0/Point.Of.Sale.Shared.pdb
/Point.Of.Sale.Retries/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.AssemblyInfo.cs
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.AssemblyInfoInputs.cache
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.assets.cache
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.csproj.AssemblyReference.cache
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.csproj.BuildWithSkipAnalyzers
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.csproj.CoreCompileInputs.cache
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.csproj.FileListAbsolute.txt
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.dll
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.GeneratedMSBuildEditorConfig.editorconfig
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.GlobalUsings.g.cs
/Point.Of.Sale.Retries/obj/Debug/net7.0/Point.Of.Sale.Retries.pdb
/Point.Of.Sale.Retries/obj/Debug/net7.0/refint/Point.Of.Sale.Retries.dll
/Point.Of.Sale.Retries/obj/Point.Of.Sale.Retries.csproj.nuget.dgspec.json
/Point.Of.Sale.Retries/obj/Point.Of.Sale.Retries.csproj.nuget.g.props
/Point.Of.Sale.Retries/obj/Point.Of.Sale.Retries.csproj.nuget.g.targets
/Point.Of.Sale.Retries/obj/project.assets.json
/Point.Of.Sale.Retries/obj/project.nuget.cache
/Point.Of.Sale.Retries/obj/project.packagespec.json
/Point.Of.Sale.Retries/obj/rider.project.restore.info
/Point.Of.Sale.Retries/obj/Debug/net7.0/ref/Point.Of.Sale.Retries.dll
/Point.Of.Sale.Email/obj/Debug/net7.0/ref/Point.Of.Sale.Email.dll
/Point.Of.Sale.Email/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.AssemblyInfo.cs
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.AssemblyInfoInputs.cache
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.assets.cache
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.csproj.AssemblyReference.cache
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.csproj.CoreCompileInputs.cache
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.csproj.FileListAbsolute.txt
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.dll
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.GeneratedMSBuildEditorConfig.editorconfig
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.GlobalUsings.g.cs
/Point.Of.Sale.Email/obj/Release/net7.0/Point.Of.Sale.Email.pdb
/Point.Of.Sale.Email/obj/Release/net7.0/refint/Point.Of.Sale.Email.dll
/Point.Of.Sale.Retries/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.AssemblyInfo.cs
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.AssemblyInfoInputs.cache
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.assets.cache
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.csproj.AssemblyReference.cache
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.csproj.CopyComplete
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.csproj.CoreCompileInputs.cache
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.csproj.FileListAbsolute.txt
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.dll
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.GeneratedMSBuildEditorConfig.editorconfig
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.GlobalUsings.g.cs
/Point.Of.Sale.Retries/obj/Release/net7.0/Point.Of.Sale.Retries.pdb
/Point.Of.Sale.Retries/obj/Release/net7.0/refint/Point.Of.Sale.Retries.dll
/Point.Of.Sale.Retries/bin/Release/net7.0/Point.Of.Sale.Retries.deps.json
/Point.Of.Sale.Retries/bin/Release/net7.0/Point.Of.Sale.Retries.dll
/Point.Of.Sale.Retries/bin/Release/net7.0/Point.Of.Sale.Retries.pdb
/Point.Of.Sale.Retries/bin/Release/net7.0/Point.Of.Sale.Shared.dll
/Point.Of.Sale.Retries/bin/Release/net7.0/Point.Of.Sale.Shared.pdb
/Point.Of.Sale.Retries/obj/Release/net7.0/ref/Point.Of.Sale.Retries.dll
/Point.Of.Sale.Email/bin/Release/net7.0/Point.Of.Sale.Email.deps.json
/Point.Of.Sale.Email/bin/Release/net7.0/Point.Of.Sale.Email.dll
/Point.Of.Sale.Email/bin/Release/net7.0/Point.Of.Sale.Email.pdb
/Point.Of.Sale.Email/obj/Release/net7.0/ref/Point.Of.Sale.Email.dll
/Web.Point.Of.Sale/obj/Debug/net8.0/
*.dll
*.info
/Web.Point.Of.Sale/obj/Debug/net8.0/scopedcss/bundle/**
