################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Point.Of.Sale/bin/*
/Point.Of.Sale/obj/*
/Point.Of.Sale.Abstraction/bin/*
/Point.Of.Sale.Abstraction/obj/*
/Point.Of.Sale.Auth/bin/*
/Point.Of.Sale.Auth/obj/*
/Point.Of.Sale.Category/bin/*
/Point.Of.Sale.Category/obj/*
/Point.Of.Sale.Customer/bin/*
/Point.Of.Sale.Customer/obj/*
/Point.Of.Sale.Db.Views/bin/*
/Point.Of.Sale.Db.Views/obj/*
/Point.Of.Sale.Events/bin/*
/Point.Of.Sale.Events/obj/*
/Point.Of.Sale.Inventory/bin/*
/Point.Of.Sale.Inventory/obj/*
/Point.Of.Sale.Persistence/bin/*
/Point.Of.Sale.Persistence/obj/*
/Point.Of.Sale.Person/bin/*
/Point.Of.Sale.Person/obj/*
/Point.Of.Sale.Product/bin/*
/Point.Of.Sale.Product/obj/*
/Point.Of.Sale.Sales/bin/*
/Point.Of.Sale.Sales/obj/*
/Point.Of.Sale.Shared/bin/*
/Point.Of.Sale.Shared/obj/*
/Point.Of.Sale.Shopping.Cart/bin/*
/Point.Of.Sale.Shopping.Cart/obj/*
/Point.Of.Sale.Supplier/bin/*
/Point.Of.Sale.Supplier/obj/*
/Point.Of.Sale.Tenant/bin/*
/Point.Of.Sale.Tenant/obj/*


/.githvs/slnx.sqlite
/.vs/Kodelev8.Point.Of.Sale/v17/.suo
/.vs/Kodelev8.Point.Of.Sale/FileContentIndex
/.vs/Kodelev8.Point.Of.Sale/DesignTimeBuild/.dtbcache.v2
/Point.Of.Sale.Product/bin-windows
